Header always set Strict-Transport-Security "31556900"

<IfModule mod_rewrite.c>
	RewriteEngine on

	# redirect to the router
	RewriteCond %{REQUEST_FILENAME} !-f
	RewriteRule ^.*$ index.php [L]
</IfModule>